@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Inter";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  touch-action: pan-x pan-y;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease 0s;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
body._loaded {
  opacity: 1;
  visibility: visible;
}
body._hold {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  display: none;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background: radial-gradient(38.38% 97.64% at 50% 50%, #242f7c 0%, #0b0b35 100%), #ffffff;
}
.wrapper._visible {
  display: flex;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.button {
  background: url("../img/icons/btn-green.svg") center/130px 40px no-repeat;
  width: 8.125rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
}
.button p {
  font-weight: 800;
  font-size: 0.75rem;
  line-height: 1.25;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 3.74151px 3.74151px rgba(0, 0, 0, 0.25);
  position: relative;
  top: -0.125rem;
}
.button:active {
  transform: translateY(2px);
}
.button._hold {
  opacity: 0.5;
  pointer-events: none;
}

.preloader {
  background: radial-gradient(38.38% 97.64% at 50% 50%, #242f7c 0%, #0b0b35 100%), #ffffff;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.preloader._hide {
  display: none;
}
.preloader__title {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.2083333333;
  text-transform: uppercase;
  color: #04f0ff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-bottom: 1.25rem;
}
.preloader__button {
  margin-top: 0.625rem;
}

.acces-preloader {
  width: 100%;
  max-height: 60vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
  margin: 0 auto;
}
.acces-preloader._hide {
  display: none;
}
.acces-preloader__text {
  padding-bottom: 0.75rem;
}

.text-pre {
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 1.2;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text-pre a {
  color: #bae7e7;
}

.block-bet {
  width: 100%;
}
.block-bet._hold {
  pointer-events: none;
  opacity: 0.3;
}
.block-bet__title {
  font-weight: 800;
  font-size: 0.9375rem;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #04f0ff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.block-bet__controls {
  min-height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  column-gap: 0.9375rem;
}
.block-bet__controls._hold {
  transition: all 0.6s ease 0s;
  pointer-events: none;
  opacity: 0.3;
}
.block-bet__min, .block-bet__max {
  width: 4.3125rem;
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/icons/btn-purple.svg") center/69px 28px no-repeat;
  position: relative;
  top: 0.1875rem;
  transition: all 0.3s ease 0s;
}
.block-bet__min:active, .block-bet__max:active {
  transform: translateY(2px);
}
.block-bet__min p, .block-bet__max p {
  padding-bottom: 0.25rem;
}
.block-bet__minus, .block-bet__plus {
  width: 1.8125rem;
  height: 1.8125rem;
  font-size: 0.625rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #ac00e9 0%, #a30089 100%);
  box-shadow: 0px 2.93976px 2.93976px rgba(206, 0, 239, 0.59), inset 0px -3.6747px 1.46988px rgba(255, 255, 255, 0.43), inset 0px 3.6747px 2.20482px rgba(255, 255, 255, 0.48);
  border-radius: 6px;
  transition: all 0.3s ease 0s;
}
.block-bet__minus:active, .block-bet__plus:active {
  transform: translateY(2px);
  box-shadow: 0px 0.93976px 0.93976px rgba(206, 0, 239, 0.59), inset 0px -3.6747px 1.46988px rgba(255, 255, 255, 0.43), inset 0px 3.6747px 2.20482px rgba(255, 255, 255, 0.48);
}
.block-bet__bet {
  max-width: 5.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #a549b9;
  border: 1px solid #6e0f8f;
  box-shadow: 0px 1px 8px 2px #6e0f8f;
  border-radius: 4px;
}
.block-bet__coins {
  min-width: 3.4375rem;
  font-size: 0.75rem;
  line-height: 1.25;
  padding: 0 0.625rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.block-bet__coins._no-money {
  animation: no-money 0.5s ease 2;
}
.block-bet__icon {
  position: relative;
  top: -0.125rem;
}

.check._no-money {
  animation: no-money 0.5s ease 2;
}
.check._delete-money {
  animation: delete-money 0.5s ease;
}
.check._anim-add-money {
  animation: add-money 0.5s ease 2;
}

.money {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.money__body {
  background: #362569;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 9.625rem;
  height: 1.875rem;
  margin: 0 auto;
}
@media (min-height: 37.5em) {
  .money__body {
    margin-top: 0.3125rem;
    transform: scale(1.3);
  }
}
.money__row {
  display: flex;
  align-items: center;
}
.money__coins {
  min-width: 3.125rem;
}
.money__icon {
  position: relative;
  top: -0.125rem;
}

.icon-anim img._anim-icon-jump {
  animation: jump_icon 5s ease;
}
.icon-anim img._anim-icon-scale {
  animation: scale_icon 0.5s ease 2;
}
.icon-anim img._anim-icon-rotate {
  animation: rotate_icon 1.5s ease-out 1;
}

.text {
  font-weight: 800;
  font-size: 0.625rem;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 2.93976px 2.93976px rgba(0, 0, 0, 0.25);
}

.text-money {
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.1875;
  padding: 0rem 0.625rem 0;
  color: #fff504;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-back {
  width: 8.125rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/icons/btn-purpl.svg") center/130px 40px no-repeat;
  transition: all 0.3s ease 0s;
}
.button-back:active {
  transform: translateY(2px);
}
.button-back p {
  font-weight: 800;
  font-size: 0.75rem;
  line-height: 1.25;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 3.74151px 3.74151px rgba(0, 0, 0, 0.25);
  padding-bottom: 0.25rem;
}
@media (min-height: 37.5em) {
  .button-back {
    margin-top: 0.3125rem;
    transform: scale(1.3);
  }
}

.main__body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4.375rem;
  position: relative;
}
.main__money {
  position: absolute;
  top: 0.625rem;
  left: 50%;
  transform: translateX(-50%);
}

.item-main__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  min-height: 15.625rem;
  max-height: 25rem;
  border-radius: 17px;
  position: relative;
}
@supports (width: clamp( 11.25rem , 8.1944444444rem  +  8.8888888889vw , 13.75rem )) {
  .item-main__body {
    width: clamp( 11.25rem , 8.1944444444rem  +  8.8888888889vw , 13.75rem );
  }
}
@supports not (width: clamp( 11.25rem , 8.1944444444rem  +  8.8888888889vw , 13.75rem )) {
  .item-main__body {
    width: calc(11.25rem + 2.5 * (100vw - 34.375rem) / 28.125);
  }
}
.item-main__body_monster {
  background: radial-gradient(77.42% 48.19% at 50% 50%, #005ecb 0%, #003a7e 100%);
}
.item-main__body_car {
  background: radial-gradient(77.42% 48.19% at 50% 50%, #cbab00 0%, #7e2e00 100%);
}
.item-main__title {
  margin-top: 1.875rem;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.2;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.item-main__title_monster {
  color: #04f0ff;
}
.item-main__title_car {
  color: #fff504;
}
.item-main__images {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  width: 100%;
}
.item-main__image {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}
.item-main__image_1 {
  top: 53%;
  transform: translateY(-50%);
  left: -3.75rem;
  animation: move_m_1 10s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}
.item-main__image_2 {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  animation: move_m_2 10s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}
.item-main__image_3 {
  top: 57%;
  transform: translateY(-50%);
  left: 4.375rem;
  animation: move_m_3 10s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}
.item-main__image_car {
  animation: rotate_car 15s ease infinite;
}
.item-main__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 2.4375rem;
  background: linear-gradient(180deg, #ff008a 0%, #d10026 100%);
  box-shadow: 0px 4px 4px rgba(190, 0, 0, 0.54);
  border-radius: 12px;
  margin-bottom: 1.25rem;
  transition: all 0.3s ease 0s;
}
.item-main__button:active {
  transform: translateY(2px);
  box-shadow: 0px 1px 1px rgba(190, 0, 0, 0.54);
}
.item-main__button p {
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-height: 20em) {
  .game {
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
.game__body {
  min-height: 100vh;
  padding: 1.5625rem;
  position: relative;
}
.choose {
  position: relative;
  z-index: 5;
}
.choose._hide {
  z-index: -1;
}
.choose._hide .choose__body {
  top: -3.125rem;
  opacity: 0;
  visibility: hidden;
}
.choose__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease 0s;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
@media (min-height: 37.5em) {
  .choose__body {
    min-height: 100vh;
  }
}
.choose__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.125rem;
  height: 4.125rem;
  background: linear-gradient(180deg, #6d96ff 0%, #92008c 100%);
  box-shadow: 0px 4px 12px rgba(168, 25, 255, 0.92);
  border-radius: 21px;
}
.choose__button_store {
  margin-left: auto;
}
@media (min-height: 37.5em) {
  .choose__item {
    align-self: center;
  }
}

.item-choose__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, rgba(204, 0, 255, 0.66) 0%, rgba(0, 129, 248, 0.26) 100%);
  box-shadow: 0px 5px 8px rgba(0, 163, 255, 0.27);
  border: 2px solid #9e00ff;
  border-radius: 7px;
  padding: 0.625rem;
  position: relative;
}
.item-choose__body_win {
  min-height: 309px;
}
.item-choose__body_cars {
  background: linear-gradient(180deg, rgba(255, 0, 153, 0.66) 0%, rgba(248, 0, 134, 0.26) 100%);
  box-shadow: 0px 5px 8px rgba(0, 163, 255, 0.27);
  border: 2px solid #ff007a;
}
.item-choose__title {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.2083333333;
  text-transform: uppercase;
  color: #04f0ff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.125rem;
}
.item-choose__title_win {
  margin-bottom: 0rem;
}
@media (min-height: 37.5em) {
  .item-choose__title {
    font-size: 2rem;
    line-height: 1.40625;
  }
}
.item-choose__sub-title {
  max-width: 18.75rem;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.3125rem;
}
.item-choose__sub-title_monsters {
  margin-bottom: 1.5625rem;
}
@media (min-height: 37.5em) {
  .item-choose__sub-title {
    max-width: 31.25rem;
    font-size: 1.125rem;
    line-height: 1.4444444444;
  }
}
.item-choose__count {
  flex: 1 1 auto;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.2083333333;
  color: #f4bb02;
  text-shadow: 0px 4px 4px #621528;
}
.item-choose__heroes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-bottom: 0.1875rem;
}
.item-choose__heroes_win {
  margin-top: -2.8125rem;
}
.item-choose__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.item-choose__hero._active .item-choose__image-light {
  opacity: 1;
}
.item-choose__hero._active .item-choose__text {
  opacity: 1;
  visibility: visible;
}
.item-choose__hero_win {
  position: relative;
}
.item-choose__hero_car {
  position: relative;
  min-height: 12.5rem;
}
.item-choose__image {
  position: relative;
}
.item-choose__image_car {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.item-choose__image-monst {
  position: relative;
  z-index: 2;
}
.item-choose__image-monst img {
  max-width: 5.6875rem;
}
@media (max-height: 22.5em) {
  .item-choose__image-monst img {
    max-width: 5.0625rem;
  }
}
@media (min-height: 37.5em) {
  .item-choose__image-monst img {
    width: 9.375rem;
  }
}
.item-choose__image-monst_win {
  position: absolute;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.item-choose__image-monst_win-car {
  position: absolute;
  top: -5.625rem;
  left: 50%;
  transform: translateX(-50%);
}
.item-choose__image-mount {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
@media (min-height: 37.5em) {
  .item-choose__image-mount svg {
    transform: scale(1.4);
  }
}
.item-choose__image-light {
  position: absolute;
  bottom: 0.625rem;
  left: 50%;
  transition: all 0.8s ease 0s;
  transform: translateX(-50%);
  opacity: 0;
}
@media (min-height: 37.5em) {
  .item-choose__image-light {
    bottom: 1.875rem;
  }
  .item-choose__image-light svg {
    transform: scale(1.4);
  }
}
.item-choose__text {
  font-weight: 500;
  font-size: 0.6875rem;
  line-height: 1.1818181818;
  color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
@media (min-height: 37.5em) {
  .item-choose__text {
    margin-top: 0.625rem;
    font-size: 0.9375rem;
    line-height: 1.3;
  }
}
.item-choose__place {
  position: absolute;
  bottom: 3.125rem;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.1875;
  color: #f6e668;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.item-choose__playeer {
  position: absolute;
  bottom: 1.875rem;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875;
  background: linear-gradient(180deg, #ececec 9.69%, #b9b9b9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
.item-choose__block-bet {
  margin-bottom: 0.625rem;
}
@media (min-height: 23.125em) {
  .item-choose__block-bet {
    margin-bottom: 0.9375rem;
  }
}
@media (min-height: 37.5em) {
  .item-choose__block-bet {
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
    transform: scale(1.4);
  }
}
@media (min-height: 37.5em) {
  .item-choose__play {
    transform: scale(1.4);
  }
}
.item-choose__buttons {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}
.item-choose__btn {
  width: 5.5rem;
  height: 2.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -5px 2px rgba(255, 255, 255, 0.43), inset 0px 5px 3px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
}
.item-choose__btn p {
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}
.item-choose__btn_lobby {
  background: linear-gradient(180deg, #361d8c 0%, #441892 29.48%, #4e1a94 100%);
}
.item-choose__btn_lobby p {
  font-size: 0.9375rem;
  line-height: 1.2;
}
.item-choose__btn_again {
  background: linear-gradient(180deg, #043a5f 0%, #0f5581 40.94%, #0a5093 100%);
}
.item-choose__btn_again p {
  font-size: 0.75rem;
  line-height: 1.25;
}

.race {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.race._hide {
  z-index: -1;
}
.race._hide .race__body {
  top: -3.125rem;
  opacity: 0;
  visibility: hidden;
}
.race__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease 0s;
}
.race__body_cars {
  background: url("../img/other/bg-cars.jpg") center/cover no-repeat;
}
.race__backgrounds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.race__backgrounds span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/other/bg-game-m.png") center/cover no-repeat;
  filter: blur(5px);
  opacity: 0.4;
}
.race__backgrounds::before, .race__backgrounds::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 33.375rem;
  height: 33.375rem;
  border-radius: 50%;
  mix-blend-mode: lighten;
}
.race__backgrounds::before {
  left: -10%;
  background: radial-gradient(50% 50% at 50% 50%, #0085ff 0%, rgba(0, 87, 255, 0) 97.71%);
}
.race__backgrounds::after {
  right: -10%;
  background: radial-gradient(50% 50% at 50% 50%, #ff0000 0%, rgba(255, 0, 0, 0) 100%);
}
.race__heroes {
  min-height: 100vh;
  display: grid;
  grid-template: repeat(3, 1fr)/1fr;
  position: relative;
  z-index: 6;
}
.race__heroe {
  display: grid;
  align-items: center;
  position: relative;
}
.race__heroe._active .race__player_1 {
  animation: monster_move_1 0.5s ease infinite;
}
.race__heroe._active .race__player_2 {
  animation: monster_move_2 0.7s ease infinite;
}
.race__heroe._active .race__player_3 {
  animation: monster_move_3 0.5s ease infinite;
}
.race__heroe._active .race__car_1 {
  animation: car_move_1 0.5s ease infinite;
}
.race__heroe._active .race__car_2 {
  animation: car_move_2 0.7s ease infinite;
}
.race__heroe._active .race__car_3 {
  animation: car_move_3 0.5s ease infinite;
}
.race__heroe:not(:last-child)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1875rem;
  background-color: #159dff;
  box-shadow: 0px -2px 9px #00a3ff;
}
.race__heroe img {
  max-width: 5.75rem;
}
@media (min-height: 37.5em) {
  .race__heroe img {
    width: 10rem;
    max-width: 10rem;
  }
}
.race__heroe_1 img {
  transform: rotateY(-180deg);
}
.race__heroe_2 img {
  transform: rotateY(-180deg);
}
.race__heroe-box._speed-up {
  transition: all 0.2s ease 0s;
  transform: scale(1.3) translateX(40px);
  opacity: 0.7;
}
.race__heroe-box._speed-down {
  animation: opacity_item 0.2s ease 2;
}
.race__heroe-car:not(:last-child)::before {
  content: "";
  display: none;
}
.race__heroe-car_1 img {
  transform: rotateY(0deg) rotate(58deg);
}
.race__heroe-car_2 img {
  transform: rotateY(0deg) rotate(64deg);
}
.race__heroe-car_3 img {
  transform: rotateY(0deg) rotate(67deg);
}
.race__player {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}
.race__car {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}
.race__sock {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 7.5rem;
}
.race__sock_1 img {
  transform: rotateY(0deg);
}
.race__sock_2 img {
  transform: rotateY(0deg);
}
.race__circle {
  position: absolute;
  top: 0;
  right: 6.875rem;
  width: 3.125rem;
  height: 100%;
  background: url("../img/other/line.svg") 0 0/100% no-repeat;
  z-index: 6;
}
@media (min-height: 37.5em) {
  .race__circle {
    width: 6.25rem;
  }
}
.race__button-back {
  position: absolute;
  top: 1.5625rem;
  right: 0rem;
  z-index: 7;
}
.race__bank {
  position: absolute;
  top: 0.625rem;
  left: 50%;
  transform: translateX(-50%);
}
.race__bonuses-box {
  position: absolute;
  top: 50%;
  right: 1.5625rem;
  z-index: 6;
  transform: translateY(-50%);
}
.race__bonuses-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #ffe34d 0%, #dc6a00 100%);
  opacity: 0.5;
  border-radius: 20px;
}
.race__bonuses-box._hold {
  pointer-events: none;
}
.race__bonuses {
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.race__item {
  position: relative;
  z-index: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.race__item img:first-child {
  max-width: 5rem;
}
@media (min-height: 37.5em) {
  .race__item img:first-child {
    width: 7.5rem;
    max-width: 7.5rem;
  }
}
.race__item img:last-child {
  max-width: 4.125rem;
}
.race__item._hide {
  pointer-events: none;
  opacity: 0.5;
}
.race__count {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25;
  margin-top: 0.3125rem;
  color: #ffffff;
}
@media (min-height: 37.5em) {
  .race__count {
    font-size: 1.25rem;
  }
}
.race__timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.race__timer._active .race__timer-count {
  opacity: 1;
  animation: timer 1s linear 3 forwards;
}
.race__timer-count {
  color: #fff;
  font-size: 3.125rem;
  transform: scale(1);
  opacity: 0;
}

.prize-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.prize-screen._hide {
  z-index: -1;
}
.prize-screen._hide .prize-screen__body {
  top: -3.125rem;
  opacity: 0;
  visibility: hidden;
}
.prize-screen__body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 402px;
  min-height: 302px;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease 0s;
}
@media (min-height: 37.5em) {
  .prize-screen__item {
    transform: scale(1.5);
  }
}

.shop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 5;
  visibility: visible;
  transition: all 0.5s ease 0s;
  padding: 1.5625rem;
}
.shop._hide {
  top: -3.125rem;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}
.shop__body {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 0.9375rem;
  position: relative;
}
@media (min-width: 40.625em) {
  .shop__body {
    grid-template-columns: 1fr 3fr 1fr;
  }
}
.shop__item {
  align-self: center;
}
.shop__box-button {
  justify-self: end;
}
@media (max-width: 40.625em) {
  .shop__box-button {
    position: absolute;
    top: 3.125rem;
    left: -0.9375rem;
  }
}
.item-shop__body {
  background: linear-gradient(180deg, rgba(204, 0, 255, 0.66) 0%, rgba(0, 129, 248, 0.26) 100%);
  box-shadow: 0px 5px 8px rgba(0, 163, 255, 0.27);
  border-radius: 7px;
  border: 2px solid #9e00ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
}
.item-shop__title {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.2083333333;
  text-transform: uppercase;
  color: #ffe006;
}
@media (min-height: 37.5em) {
  .item-shop__title {
    font-size: 1.875rem;
  }
}
.item-shop__image {
  display: flex;
  justify-content: center;
  width: 9.375rem;
  height: 9.375rem;
  padding-bottom: 1.5625rem;
  margin: 0 auto;
  animation: change_bg 20s ease infinite;
}
.item-shop__image img {
  max-width: 55%;
}
@media (min-height: 37.5em) {
  .item-shop__image {
    width: 18.75rem;
    height: 18.75rem;
  }
  .item-shop__image img {
    width: 10.625rem;
  }
}
.item-shop__price-box {
  margin-bottom: 0.3125rem;
}
.item-shop__price-item {
  display: flex;
  align-items: center;
}
@media (min-height: 37.5em) {
  .item-shop__price-item {
    margin-top: -1.875rem;
    transform: scale(1.4);
  }
}
.item-shop__block-bet {
  margin-bottom: 1.25rem;
}
@media (min-height: 37.5em) {
  .item-shop__block-bet {
    margin-top: 1.25rem;
    transform: scale(1.7);
    margin-bottom: 2.5rem;
  }
}
@media (min-height: 37.5em) {
  .item-shop__button-box {
    transform: scale(1.7);
  }
  .item-shop__button-box:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.item-shop__button-next {
  width: 5.625rem;
  height: 1.6875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/icons/btn-gray.svg") center/90px 27px no-repeat;
  transition: all 0.3s ease 0s;
}
.item-shop__button-next:active {
  transform: translateY(2px);
}
.item-shop__button-next p {
  font-weight: 800;
  font-size: 0.46875rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 2.33844px 2.33844px rgba(0, 0, 0, 0.25);
  padding-bottom: 0.1875rem;
}

@keyframes no-money {
  0% {
    color: #fff;
  }
  100% {
    color: rgb(255, 0, 0);
    transform: scale(1.1);
  }
}
@keyframes delete-money {
  0% {
    color: #fff;
  }
  100% {
    color: rgb(255, 155, 155);
    transform: translateY(3px);
  }
}
@keyframes add-money {
  100% {
    color: yellow;
    transform: translateY(-3px);
  }
}
@keyframes show_item_y {
  100% {
    transform: translateY(0);
    top: 0;
    opacity: 1;
  }
}
@keyframes show_item_x {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes show_item_opacity {
  100% {
    opacity: 0.5;
  }
}
@keyframes show_item_scale {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes jump_icon {
  0%, 69% {
    transform: translate(0, 0);
  }
  77% {
    transform: translate(0, -10px);
  }
  80% {
    transform: translate(0px, 0px);
  }
  82% {
    transform: translate(0px, -6px);
  }
  85% {
    transform: translate(0px, 0px);
  }
  87% {
    transform: translate(0px, -2px);
  }
  90% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes scale_icon {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes rotate_icon {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes change_bg {
  0%, 100% {
    background: radial-gradient(34.52% 35.55% at 50% 50%, #ff984e 0%, rgba(255, 100, 79, 0) 100%);
  }
  50% {
    background: radial-gradient(34.52% 35.55% at 50% 50%, #fbff4e 0%, rgba(255, 248, 79, 0) 100%);
  }
}
@keyframes monster_move_1 {
  0% {
    transform: rotate(0deg) rotateY(-180deg);
  }
  25% {
    transform: rotate(2deg) rotateY(-180deg);
  }
  50% {
    transform: rotate(0deg) rotateY(-180deg);
  }
  75% {
    transform: rotate(-2deg) rotateY(-180deg);
  }
  100% {
    transform: rotate(0deg) rotateY(-180deg);
  }
}
@keyframes monster_move_2 {
  0% {
    transform: rotate(-6deg) translateY(0px) rotateY(-180deg);
  }
  25% {
    transform: rotate(-6deg) translateY(2px) rotateY(-180deg);
  }
  50% {
    transform: rotate(-6deg) translateY(0px) rotateY(-180deg);
  }
  75% {
    transform: rotate(-6deg) translateY(2px) rotateY(-180deg);
  }
  100% {
    transform: rotate(-6deg) translateY(0px) rotateY(-180deg);
  }
}
@keyframes monster_move_3 {
  0% {
    transform: rotate(-3deg) translateY(0px);
  }
  25% {
    transform: rotate(-3deg) translateY(2px);
  }
  50% {
    transform: rotate(-3deg) translateY(0px);
  }
  75% {
    transform: rotate(-3deg) translateY(2px);
  }
  100% {
    transform: rotate(-3deg) translateY(0px);
  }
}
@keyframes car_move_1 {
  0% {
    transform: rotate(58deg) rotateY(0deg);
  }
  25% {
    transform: rotate(59deg) rotateY(0deg);
  }
  50% {
    transform: rotate(58deg) rotateY(0deg);
  }
  75% {
    transform: rotate(57deg) rotateY(0deg);
  }
  100% {
    transform: rotate(58deg) rotateY(0deg);
  }
}
@keyframes car_move_2 {
  0% {
    transform: rotate(64deg) translateY(0px) rotateY(0deg);
  }
  25% {
    transform: rotate(64deg) translateY(1px) rotateY(0deg);
  }
  50% {
    transform: rotate(64deg) translateY(0px) rotateY(0deg);
  }
  75% {
    transform: rotate(64deg) translateY(1px) rotateY(0deg);
  }
  100% {
    transform: rotate(64deg) translateY(0px) rotateY(0deg);
  }
}
@keyframes car_move_3 {
  0% {
    transform: rotate(67deg) translateY(0px) rotateY(0deg);
  }
  25% {
    transform: rotate(67deg) translateY(2px) rotateY(0deg);
  }
  50% {
    transform: rotate(67deg) translateY(0px) rotateY(0deg);
  }
  75% {
    transform: rotate(67deg) translateY(2px) rotateY(0deg);
  }
  100% {
    transform: rotate(67deg) translateY(0px) rotateY(0deg);
  }
}
@keyframes timer {
  100% {
    opacity: 0;
    transform: scale(5);
  }
}
@keyframes move_m_1 {
  0%, 95%, 100% {
    transform: translateX(0) translateY(-50%);
  }
  98% {
    transform: translateX(-10px) translateY(-50%);
  }
}
@keyframes move_m_2 {
  0%, 95%, 100% {
    transform: translateY(-50%);
  }
  98% {
    transform: translateY(-56%);
  }
}
@keyframes move_m_3 {
  0%, 95%, 100% {
    transform: translateX(0) translateY(-50%);
  }
  98% {
    transform: translateX(10px) translateY(-50%);
  }
}
@keyframes rotate_car {
  0%, 85% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes opacity_item {
  100% {
    opacity: 0.2;
  }
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 300px;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
